@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  text-align: center;
  background-color: #f5f3f4;
  font-family: 'Noto Sans JP', sans-serif;
}

.header{
  padding: 2em;
  margin-bottom: 2em;
}

.title{
  font-size: 4em;
  background-image: linear-gradient(45deg, #ef4343b2, #ff000000 70.71%),
                    linear-gradient(98deg, #1dbe1dcc, #00ff0000 70.71%),
                    linear-gradient(296deg, #0000ffcc, #0000ff00 70.71%);
  color: transparent;
  background-clip: text;
  animation: change-background 5s ease forwards;
  -webkit-background-clip: text;
}

.main{
  display: flex;
  justify-content: space-around;
  width: 68.75em;
}

.btn-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button{
  background-color: #3B3B3B;
  color: #f9fafb; 
  width: 8em;
  padding: 0.5em 1.2em;
  margin: 0.2em 0.3em;
  border-radius: 2em;
  font-size: 1em;
  border: 0.16em solid #3B3B3B;
  transition: 0.2s;
}

button:hover{
  border-color: #f5f3f4;
}

.grid-size{
  font-size: 1.3em;
}

.slide-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.slider{
  appearance: none;
  background-color: #d3d3d3;
  width: 100%;
  height: 1.5em;
  border-radius: 2em;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb{
  background-color: #3B3B3B;
  width: 1.4em;
  height: 1.4em;
  appearance: none;
  border-radius: 50%;
}

.slider:hover{
  opacity: 1;
}

.grid-container{
  display: grid;
  width: 31.25em;
  height: 31.25em;
  background-color: #fefefe;
}